@model todo.mvc.ViewModels.TodoListViewModel

<main>
    <section aria-labelledby="collection-title">
        <h2 id="collection-title">Collections</h2>
        @if (Model.Collections.Count() > 0)
        {
            <ul>
                @foreach (var todo in Model.Collections)
                {
                    <li>@todo.Title</li>
                }
            </ul>
        }
        else
        {
            <p>No todos found.</p>
        }
    </section>

    <section aria-labelledby="collection-creation-title">
        <h2 id="collection-creation-title">Collection Creation</h2>
        @using (Html.BeginForm("CreateCollection", "TodoCollection", FormMethod.Post))
        {
            <div>
                @Html.LabelFor(m => m.CollectionCreation.Title)
                @Html.EditorFor(m => m.CollectionCreation.Title)
                @Html.ValidationMessageFor(m => m.CollectionCreation.Title)
            </div>

            <button type="submit">Create</button>
        }
    </section>

</main>